* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --primary: #fac031;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 20px;
  font-weight: 700;
  color: black;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: black;
  font-size: 16px;
  display: inline-block;
  margin: 0 16px;
}

.navbar .navbar-nav a::after {
  content: "";
  width: 0;
  display: block;
  height: 2px;
  background: #fac031;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  width: 100%;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0 8px;
}

.navbar .navbar-extra a {
  color: var(--primary);
}

#hamburger {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.7) 40%,
      rgba(255, 255, 255, 0) 60%
    ),
    url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 960px;
}

.hero .content h1 {
  font-size: 60px;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 20px;
  margin-top: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.hero .content .cta {
  margin-top: 48px;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  color: white;
  background-color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  z-index: 9999;
}

/* About */
.about {
  width: 100%;
  height: 30vh;
  padding: 8rem 1.4rem;
}

.about .row {
  display: flex;
  justify-content: space-around;
}

.about .row .about-img {
  flex: 1 1 560px;
}

.about .row h2 span {
  color: var(--primary);
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 720px;
  padding: 0 16px 0 48px;
}

.about .row .content h2 {
  text-align: center;
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.about .row .content h2 span {
  color: var(--primary);
}

.about .row .content h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

.about .row .content p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 8px;
}

.about .row .content .cta {
  margin-top: 48px;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  color: white;
  background-color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  z-index: 9999;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    height: 100vh;
    top: 100%;
    right: -1000%;
    width: 30rem;
    background-color: var(--primary);
    transition: 0, 3 ease;
    -webkit-transition: 0, 3 ease;
    -moz-transition: 0, 3 ease;
    -ms-transition: 0, 3 ease;
    -o-transition: 0, 3 ease;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 24px;
    padding: 8px;
    font-size: 32px;
  }

  .navbar .navbar-nav a:hover {
    color: white;
  }

  .about .row {
    flex-wrap: wrap;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
